@import '../../styles/index.scss';
.price {
    margin-bottom: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-top: 2rem;
}